<footer>
  <div class="footer-container">
    <div>
      <p class="footer-small-font">v1.8b</p>
      <p class="footer-small-font"><%= t('footer.credits') %><a class="footer-small-font bold" target="_blank" href="https://github.com/ZPAlexis">ZPAlexis</a></p>
      <p class="footer-small-font"><%= t('footer.credits_2_html') %></p>
    </div>
  </div>
</footer>