<footer>
  <div class="footer-container">
    <div>
      <p class="footer-small-font">v1.1</p>
      <p class="footer-small-font" data-i18n="footer.credits"></p>
      <a class="footer-small-font bold" href="https://github.com/ZPAlexis">Alexis Coelho // .zero</a>
      <p class="footer-small-font" data-i18n-html="footer.credits-2"></p>
    </div>
  </div>
</footer>