<div class="js-image-lightbox image-lightbox-overlay hidden">
  <div class="image-lightbox-frame">
    <button class="js-animated-button js-lightbox-close cta-button nav-button image-lightbox-close">
      <img class="button-icon small" src="/icons/icon_x_dark.png">
    </button>
    <img class="js-lightbox-image image-lightbox-image" src="" draggable="false">
  </div>
</div>
