<div class="projects-container">
  <%# Trofy %>
  <% unless local_assigns[:skip] == "trofy" %>
    <%= render "shared/project_card", 
        title: "Trofy", 
        image_path: "/images/projects/trofy/Trofy_AppIcon.png", 
        tags: ["C#", "Unity", "iOS", "Android"], 
        path: pages_trofy_path, 
        i18n_key: "projects.trofy-project-description" 
    %>
  <% end %>

  <%# Born Survivor %>
  <% unless local_assigns[:skip] == "born_survivor" %>
    <%= render "shared/project_card", 
        title: "Born Survivor", 
        image_path: "/images/projects/born_survivor/BornSurvivor_AppIcon.png", 
        tags: ["C#", "Unity"], 
        path: pages_born_survivor_path, 
        i18n_key: "projects.bs-project-description" 
    %>
  <% end %>

  <%# Flappy Astronaut %>
  <% unless local_assigns[:skip] == "flappy_astronaut" %>
    <%= render "shared/project_card", 
        title: "Flappy Astronaut", 
        image_path: "/images/projects/flappy_astronaut/FlappyAstronaut_AppIcon.png", 
        tags: ["C#", "Unity"], 
        path: pages_flappy_astronaut_path, 
        i18n_key: "projects.fa-project-description" 
    %>
  <% end %>
</div>