<nav class="return-to-top-container">
  <button class="js-animated-button  js-return-to-top cta-button nav-button return-to-top hidden">
    <img class="button-icon" src="/icons/icon_up_dark.png">
  </button>
</nav>