<nav class="return-to-top-outer">
  <div class="return-to-top-container">
    <button class="js-animated-button js-prev-section cta-button nav-button section-nav-button hidden">
      <img class="button-icon small" src="/icons/icon_up_dark.png">
      <span class="js-section-nav-title section-nav-title"></span>
    </button>
    <button class="js-animated-button js-next-section cta-button nav-button section-nav-button hidden">
      <span class="js-section-nav-title section-nav-title"></span>
      <img class="button-icon small rotate-180" src="/icons/icon_up_dark.png">
    </button>
    <button class="js-animated-button  js-return-to-top cta-button nav-button return-to-top hidden">
      <img class="button-icon" src="/icons/icon_up_dark.png">
    </button>
  </div>
</nav>
