<nav class="return-to-top-outer">
  <div class="return-to-top-container">
    <button class="js-animated-button js-prev-section cta-button nav-button section-nav-button hidden">
      <%= image_tag "icons/icon_up_dark.png", class: "button-icon small" %>
      <span class="js-section-nav-title section-nav-title"></span>
    </button>
    <button class="js-animated-button js-next-section cta-button nav-button section-nav-button hidden">
      <span class="js-section-nav-title section-nav-title"></span>
      <%= image_tag "icons/icon_up_dark.png", class: "button-icon small rotate-180" %>
    </button>
    <button class="js-animated-button  js-return-to-top cta-button nav-button return-to-top hidden">
      <%= image_tag "icons/icon_up_dark.png", class: "button-icon" %>
    </button>
  </div>
</nav>
