<main class="main-container">
  <div style="display: flex; flex-direction: column; align-items: center; margin: 80px; text-align: center;">
    <h1>Tests Page</h1>
    <p style="text-align: center;">We use this space to test new features.<br>There's nothing being tested now!</p>
    <img style="margin-top: 40px; border-radius: 20px;" src="https://configcat.com/blog/assets/test-production/2-stand-back.jpg" alt="Testing in production?">
    <!---<button id="apiTest" data-coin="Test">Record "Test" Event</button>--->
  </div>
</main>