<main class="main-container">
  <section class="post-section">
    <img class="post-banner-image cover" src="images/projects/flappy_astronaut/Portfolio_Flying_FlappyAstronaut.jpg">
    <div class="post-container">
      <h1 class="post-heading title center">Flappy Astronaut</h1>
      <div class="post-intro-wrapper">
        <div class="post-list-container center gap">
          <p class="post-text" data-i18n-html="portfolio.fa.category"></p>
          <p class="post-text" data-i18n-html="portfolio.fa.stack"></p>
          <p class="post-text" data-i18n-html="portfolio.fa.inspiration"></p>
        </div>
        <div class="post-spacing"></div>
        <div class="post-list-container">
          <h3 class="post-text text-highlight" data-i18n="portfolio.fa.index"></h3>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#objective" data-i18n="portfolio.fa.objective"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#concepts" data-i18n="portfolio.fa.concepts"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#stack" href="#concepts" data-i18n="portfolio.fa.tech"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#logic" data-i18n="portfolio.fa.logic"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#design" href="#logic" data-i18n="portfolio.fa.design"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#demo" data-i18n="portfolio.fa.demo"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#learnings" data-i18n="portfolio.fa.learnings"></a></p>
        </div>
      </div>

      <div class="post-line"></div>

      <h2 class="post-heading" id="objective" data-i18n="portfolio.fa.objective"></h2>
      <p class="post-text" data-i18n="portfolio.fa.objective-1"></p>
      <p class="post-text" data-i18n="portfolio.fa.objective-2"></p>
      <a href="images/projects/flappy_astronaut/Portfolio_Cover_StartScreen_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="images/projects/flappy_astronaut/Portfolio_Cover_StartScreen_FlappyAstronaut.jpg"></a>
      <p class="post-text" data-i18n-html="portfolio.fa.objective-3"></p>
      <p class="post-text" data-i18n="portfolio.fa.objective-4"></p>

      <div class="post-line"></div>
      
      <h2 class="post-heading" id="concepts" data-i18n="portfolio.fa.concepts"></h2>
      <a data-i18n-href="portfolio.fa.images.concepts" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.fa.images.concepts"></a>
      <p class="post-text" data-i18n="portfolio.fa.concepts-1"></p>
      <p class="post-text" data-i18n="portfolio.fa.concepts-2"></p>
      <p class="post-text" data-i18n="portfolio.fa.concepts-3"></p>
      <p class="post-text" data-i18n="portfolio.fa.concepts-4"></p>
      <a href="images/projects/flappy_astronaut/Portfolio_Death_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="images/projects/flappy_astronaut/Portfolio_Death_FlappyAstronaut.jpg"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="stack" data-i18n="portfolio.fa.tech"></h2>
      <a class="post-logo-link" href="https://unity.com/" target="_blank"><img class="post-logo" src="images/unity_logo_white.png"></a>
      <p class="post-text" data-i18n="portfolio.fa.tech-1"></p>
      <p class="post-text" data-i18n="portfolio.fa.tech-2"></p>
      <a class="post-logo-link" href="https://www.w3schools.com/cs/index.php" target="_blank"><img class="post-logo" src="images/csharp_logo_white.png"></a>
      <p class="post-text" data-i18n="portfolio.fa.tech-3"></p>
      <a class="post-logo-link" href="https://www.aseprite.org/" target="_blank"><img class="post-logo" src="images/aseprite_logo_white.png"></a>
      <p class="post-text" data-i18n="portfolio.fa.tech-4"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="logic" data-i18n="portfolio.fa.logic"></h2>
      <a data-i18n-href="portfolio.fa.images.logic" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.fa.images.logic"></a>
      <p class="post-text" data-i18n="portfolio.fa.logic-1"></p>
      <p class="post-text" data-i18n="portfolio.fa.logic-2"></p>
      <a href="images/projects/flappy_astronaut/Portfolio_FlappyAstronaut_FolderStructure.png" target="_blank"><img class="post-image half center shadow" src="images/projects/flappy_astronaut/Portfolio_FlappyAstronaut_FolderStructure.png"></a>
      <p class="post-text" data-i18n-html="portfolio.fa.logic-3"></p>
      <pre><code class="language-javascript">
        // Asteroid Movement Snippet
        void Update() {
          transform.position = transform.position + ( Vector3.left * moveSpeed ) * Time.deltaTime;

          if(transform.position.x < deadZone)
          {
            Debug.Log("Asteroid Deleted");
            Destroy(gameObject);
          }
        }
      </code></pre>

      <div class="post-line"></div>

      <h2 class="post-heading" id="design" data-i18n="portfolio.fa.design"></h2>
      <a data-i18n-href="portfolio.fa.images.design" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.fa.images.design"></a>
      <p class="post-text" data-i18n="portfolio.fa.design-1"></p>
      <p class="post-text" data-i18n-html="portfolio.fa.design-2"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="demo" data-i18n="portfolio.fa.demo"></h2>
      <div class="post-video">
        <iframe 
          src="https://www.youtube-nocookie.com/embed/EHW0vRHUnHc?si=0fKeWdo6ZkSsoUWa"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
      <div class="post-spacing"></div>
      <p class="post-text half center" data-i18n="portfolio.fa.demo-1"></p>
      <img class="post-image half center" src="images/projects/flappy_astronaut/Flappy_Astronaut_exe_art.png">
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/FlappyAstronaut-V1.0.0-PC-Demo" data-i18n="portfolio.fa.demo-btn"></button>
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/FlappyAstronaut" data-i18n="portfolio.fa.dir-btn"></button>

      <div class="post-line"></div>

      <h2 class="post-heading" id="learnings" data-i18n="portfolio.fa.learnings"></h2>
      <a href="images/projects/flappy_astronaut/Portfolio_Oxygen_FlappyAstronaut.jpg" target="_blank"><img class="post-image shadow" src="images/projects/flappy_astronaut/Portfolio_Oxygen_FlappyAstronaut.jpg"></a>
      <p class="post-text"></p>
      <p class="post-text" data-i18n="portfolio.fa.learnings-1"></p>
      <p class="post-text" data-i18n="portfolio.fa.learnings-2"></p>
      <ol type="1" class="post-text">
        <li data-i18n-html="portfolio.fa.learnings-li-1"></li>
        <li data-i18n-html="portfolio.fa.learnings-li-2"></li>
        <li data-i18n-html="portfolio.fa.learnings-li-3"></li>
        <li data-i18n-html="portfolio.fa.learnings-li-4"></li>
        <li data-i18n-html="portfolio.fa.learnings-li-5"></li>
      </ol>
      <img class="post-image half center" src="images/projects/flappy_astronaut/Flappy_Astronaut_Asteroid_art.png">
      <p class="post-text center" data-i18n="portfolio.fa.closing"></p>
      <div class="post-spacing"></div>
      <div class="post-line"></div>
    </div>
  </section>

  <section class="post-references-section">
    <div class="post-references-container">
      <p class="post-text center half text-highlight" data-i18n="about.cta-projects"></p>
      <div class="project-container">
        <div class="project-container-top">
          <div class="project-image-container">
            <img class="project-image" src="images/projects/trofy/Trofy_AppIcon.png">
          </div>
          <div class="project-summary">
            <div class="project-summary-container">
              <h1 class="project-title-text">Trofy</h1>
              <div class="project-summary-tags">
                <div class="stack-tag">C#</div>
                <div class="stack-tag">Unity</div>
                <div class="stack-tag">iOS</div>
                <div class="stack-tag">Android</div>
              </div>
              <button class="js-animated-button cta-button project-cta"  data-action="navigate" data-target="/trofy.html" data-i18n="index.learn-more-btn"></button>
            </div>
          </div>
        </div>
        <p class="project-description-text" data-i18n="projects.trofy-project-description"></p> 
      </div>

      <div class="project-container">
        <div class="project-container-top">
          <div class="project-image-container">
            <img class="project-image" src="images/projects/born_survivor/BornSurvivor_AppIcon.png">
          </div>
          <div class="project-summary">
            <div class="project-summary-container">
              <h1 class="project-title-text">Born Survivor</h1>
              <div class="project-summary-tags">
                <div class="stack-tag">C#</div>
                <div class="stack-tag">Unity</div>
              </div>
              <button class="js-animated-button project-cta cta-button"  data-action="navigate" data-target="/born_survivor.html" data-i18n="index.learn-more-btn"></button>
            </div>
          </div>
        </div>
        <p class="project-description-text" data-i18n="projects.bs-project-description"></p> 
      </div>
    </div>
  </section>
</main>