<main class="main-container">
  <section class="about-projects-section" id="projects">
    <div class="about-projects-container">
      <h1 class="about-projects-title"><%= t('index.about_projects_title') %></h1>
      <p class="about-projects-description"><%= t('index.about_projects_description') %></p>
    </div>      
  </section>

  <section class="projects-section">
    <%= render "shared/projects_list" %>
  </section>
</main>