<main class="main-container">
  <section class="about-projects-section" id="projects">
    <div class="about-projects-container">
      <h1 class="about-projects-title" data-i18n="index.about-projects-title"></h1>
      <p class="about-projects-description" data-i18n="index.about-projects-description"></p>
    </div>      
  </section>

  <section class="projects-section">
    <div class="projects-container baseline">
      <div class="project-container">
        <div class="project-container-top">
          <div class="project-image-container">
            <img class="project-image" src="images/projects/trofy/Trofy_AppIcon.png">
          </div>
          <div class="project-summary">
            <div class="project-summary-container">
              <h1 class="project-title-text">Trofy</h1>
              <div class="project-summary-tags">
                <div class="stack-tag">C#</div>
                <div class="stack-tag">Unity</div>
                <div class="stack-tag">iOS</div>
                <div class="stack-tag">Android</div>
              </div>
              <button class="js-animated-button cta-button project-cta" data-action="navigate" data-target="/trofy.html" data-i18n="index.learn-more-btn"></button>
            </div>
          </div>
        </div>
        <p class="project-description-text" data-i18n="projects.trofy-project-description"></p> 
      </div>

      <div class="project-container">
        <div class="project-container-top">
          <div class="project-image-container">
            <img class="project-image" src="images/projects/born_survivor/BornSurvivor_AppIcon.png">
          </div>
          <div class="project-summary">
            <div class="project-summary-container">
              <h1 class="project-title-text">Born Survivor</h1>
              <div class="project-summary-tags">
                <div class="stack-tag">C#</div>
                <div class="stack-tag">Unity</div>
              </div>
              <button class="js-animated-button project-cta cta-button"  data-action="navigate" data-target="/born_survivor.html" data-i18n="index.learn-more-btn"></button>
            </div>
          </div>
        </div>
        <p class="project-description-text" data-i18n="projects.bs-project-description"></p> 
      </div>

      <div class="project-container">
        <div class="project-container-top">
          <div class="project-image-container">
            <img class="project-image" src="images/projects/flappy_astronaut/FlappyAstronaut_AppIcon.png">
          </div>
          <div class="project-summary">
            <div class="project-summary-container">
              <h1 class="project-title-text">Flappy Astronaut</h1>
              <div class="project-summary-tags">
                <div class="stack-tag">C#</div>
                <div class="stack-tag">Unity</div>
              </div>
              <button class="js-animated-button project-cta cta-button"  data-action="navigate" data-target="/flappy_astronaut.html" data-i18n="index.learn-more-btn"></button>
            </div>
          </div>
        </div>
        <p class="project-description-text" data-i18n="projects.fa-project-description"></p> 
      </div>
    </div>
  </section>
</main>