<main class="main-container">
  <section class="about-projects-section" id="projects">
    <div class="about-projects-container">
      <h1 class="about-projects-title" data-i18n="index.about-projects-title"></h1>
      <p class="about-projects-description" data-i18n="index.about-projects-description"></p>
    </div>      
  </section>

  <section class="projects-section">
    <%= render "shared/projects_list" %>
  </section>
</main>