<% content_for :page_specific_js do %>
  <%= render "shared/prism_loader", languages: ["csharp"] %>
<% end %>

<main class="main-container">
  <section class="post-section">
    <img class="post-banner-image cover" src="/images/projects/trofy/Cover_Trofy.jpg">
    <div class="post-container">
      <h1 class="post-heading title center">Trofy</h1>
      <div class="post-intro-wrapper">
        <div class="post-list-container center gap">
          <p class="post-text" data-i18n-html="portfolio.trofy.category"></p>
          <p class="post-text" data-i18n-html="portfolio.trofy.stack"></p>
          <p class="post-text" data-i18n-html="portfolio.trofy.inspiration"></p>
        </div>
        <div class="post-spacing"></div>
        <div class="post-list-container">
          <h3 class="post-text text-highlight" data-i18n="portfolio.trofy.index"></h3>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#objective" data-i18n="portfolio.trofy.objective"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#concepts" data-i18n="portfolio.trofy.concepts"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#user" data-i18n="portfolio.trofy.user"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#stack" data-i18n="portfolio.trofy.tech"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#logic" data-i18n="portfolio.trofy.logic"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#design" data-i18n="portfolio.trofy.design"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#wireframe" data-i18n="portfolio.trofy.wireframe"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#roadmap" data-i18n="portfolio.trofy.roadmap"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#demo" data-i18n="portfolio.trofy.demo"></a></p>
          <p class="post-list-item post-text gold">><a class="post-list-item post-text" href="#learnings" data-i18n="portfolio.trofy.learnings"></a></p>
        </div>
      </div>

      <div class="post-line"></div>

      <h2 class="post-heading" id="objective" data-i18n="portfolio.trofy.objective"></h2>
      <p class="post-text" data-i18n="portfolio.trofy.objective-1"></p>
      <a href="/images/projects/trofy/Trofy_IntroScreen_GIF.gif" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_IntroScreen_GIF.gif"></a>
      <p class="post-text" data-i18n="portfolio.trofy.objective-2"></p>
      <p class="post-text" data-i18n="portfolio.trofy.objective-3"></p>

      <div class="post-line"></div>
      
      <h2 class="post-heading" id="concepts" data-i18n="portfolio.trofy.concepts"></h2>
      <a data-i18n-href="portfolio.trofy.images.concepts" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.concepts"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-1"></p>
      <h2 class="post-heading" data-i18n="portfolio.trofy.concepts-2"></h2>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-3"></p>
      <a href="/images/projects/trofy/Trofy_Completing_GIF.gif" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Completing_GIF.gif"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-4"></p>
      <a data-i18n-href="portfolio.trofy.images.gamification" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.gamification"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-5"></p>
      <a href="/images/projects/trofy/Trofy_Objective_Portfolio.jpg" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Objective_Portfolio.jpg"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-6"></p>
      <h2 class="post-heading" data-i18n="portfolio.trofy.concepts-7"></h2>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-8"></p>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-9"></p>
      <a href="/images/projects/trofy/Trofy_ChallengeCustomize_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_ChallengeCustomize_Portfolio.png"></a>
      <ol type="a" class="post-text">
        <li data-i18n-html="portfolio.trofy.concepts-10"></li>
        <li data-i18n-html="portfolio.trofy.concepts-11"></li>
      </ol>
      <h2 class="post-heading" data-i18n="portfolio.trofy.concepts-12"></h2>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-13"></p>
      <a href="/images/projects/trofy/Trofy_TwoObjectives_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_TwoObjectives_Portfolio.png"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-14"></p>
      <a href="/images/projects/trofy/Trofy_Drawer_Portfolio.png" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_Drawer_Portfolio.png"></a>
      <p class="post-text" data-i18n="portfolio.trofy.concepts-15"></p>
      <a href="/images/projects/trofy/Trofy_ProgressTutorial_Portfolio.jpg" target="_blank"><img class="post-image shadow half center" src="/images/projects/trofy/Trofy_ProgressTutorial_Portfolio.jpg"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="user" data-i18n="portfolio.trofy.user"></h2>
      <a data-i18n-href="portfolio.trofy.images.user" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.user"></a>
      <p class="post-text" data-i18n="portfolio.trofy.user-1"></p>
      <p class="post-text" data-i18n="portfolio.trofy.user-2"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="stack" data-i18n="portfolio.trofy.tech"></h2>
      <a class="post-logo-link" href="https://unity.com/" target="_blank"><img class="post-logo" src="/images/unity_logo_white.png"></a>
      <p class="post-text" data-i18n="portfolio.trofy.tech-1"></p>
      <a class="post-logo-link" href="https://www.w3schools.com/cs/index.php" target="_blank"><img class="post-logo" src="/images/csharp_logo_white.png"></a>
      <p class="post-text" data-i18n="portfolio.trofy.tech-2"></p>
      <p class="post-text" data-i18n-html="portfolio.trofy.tech-3"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="logic" data-i18n="portfolio.trofy.logic"></h2>
      <a data-i18n-href="portfolio.trofy.images.logic" target="_blank"><img class="post-image shadow"  data-i18n-img="portfolio.trofy.images.logic"></a>
      <p class="post-text" data-i18n="portfolio.trofy.logic-1"></p>
      <p class="post-text" data-i18n="portfolio.trofy.logic-2"></p>
      <p class="post-text" data-i18n="portfolio.trofy.logic-3"></p>
      <pre><code class="language-javascript">//Objective Controller Code Snippet

public void GenerateDayList() {
  dayList = new List<DayInfo>();
  int startDayOfWeek = (int)startDate.DayOfWeek;

  for (int i = startDayOfWeek; i < startDayOfWeek + 7; i++)
  {
    DateTime currentDay = startDate.AddDays(i - startDayOfWeek);
    DayInfo dayInfo = new DayInfo(currentDay, (i) % 7, 1, difficulty);
    dayList.Add(dayInfo);
  }

  DateTime currentDate = DateTime.Now;
  CheckDayList(currentDate);
}</code></pre>
      <p class="post-text" data-i18n="portfolio.trofy.logic-4"></p>
      <a data-i18n-href="portfolio.trofy.images.notifications" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.notifications"></a>
      <p class="post-text" data-i18n="portfolio.trofy.logic-5"></p>
      <ol type="1" class="post-text">
        <li data-i18n-html="portfolio.trofy.logic-6"></li>
        <li data-i18n-html="portfolio.trofy.logic-7"></li>
        <li data-i18n-html="portfolio.trofy.logic-8"></li>
      </ol>
      <p class="post-text" data-i18n="portfolio.trofy.logic-9"></p>
      <img class="post-image shadow half center" src="/images/projects/trofy/Trofy_LanguageChange_Portfolio_GIF.gif">
      <p class="post-text" data-i18n="portfolio.trofy.logic-10"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="design" data-i18n="portfolio.trofy.design"></h2>
      <a data-i18n-href="portfolio.trofy.images.design" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.design"></a>
      <p class="post-text" data-i18n="portfolio.trofy.design-1"></p>
      <p class="post-text" data-i18n-html="portfolio.trofy.design-2"></p>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_character.png">

      <div class="post-line"></div>

      <h2 class="post-heading" id="wireframe" data-i18n="portfolio.trofy.wireframe"></h2>
      <a data-i18n-href="portfolio.trofy.images.wireframe" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.wireframe"></a>
      <p class="post-text" data-i18n="portfolio.trofy.wireframe-1"></p>
      <a href="/images/projects/trofy/Trofy_8_1_MVP_PZLabs_Portfolio.png" target="_blank"><img class="post-image shadow" src="/images/projects/trofy/Trofy_8_1_MVP_PZLabs_Portfolio.png"></a>

      <div class="post-line"></div>

      <h2 class="post-heading" id="roadmap" data-i18n="portfolio.trofy.roadmap"></h2>
      <a data-i18n-href="portfolio.trofy.images.roadmap" target="_blank"><img class="post-image shadow" data-i18n-img="portfolio.trofy.images.roadmap"></a>
      <p class="post-text" data-i18n="portfolio.trofy.roadmap-1"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="demo" data-i18n="portfolio.trofy.demo"></h2>
      <div class="post-video">
        <iframe 
          src="https://www.youtube-nocookie.com/embed/5UU06yBFbc8"
          title="YouTube video player"
          loading="lazy"
          style="border: 0; border-radius: 20px;"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen>
        </iframe>
      </div>
      <div class="post-spacing"></div>
      <p class="post-text half center" data-i18n="portfolio.trofy.demo-1"></p>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_AppIcon_Portfolio.png">
      <button class="js-animated-button cta-button post-cta-button" data-action="navigate" data-target="https://github.com/ZPAlexis/BornSurvivor-V0.1.0-PC-Demo" data-i18n="portfolio.trofy.demo-btn" data-new-tab="true"></button>
      <p class="post-text" data-i18n="portfolio.trofy.demo-2"></p>

      <div class="post-line"></div>

      <h2 class="post-heading" id="learnings" data-i18n="portfolio.trofy.learnings"></h2>
      <img class="post-image shadow half center" src="/images/projects/trofy/Trofy_TwoCompletes_GIF.gif">
      <p class="post-text" data-i18n="portfolio.trofy.learnings-1"></p>
      <p class="post-text" data-i18n="portfolio.trofy.learnings-2"></p>
      <ol type="1" class="post-text">
        <li data-i18n-html="portfolio.trofy.learnings-li-1"></li>
        <li data-i18n-html="portfolio.trofy.learnings-li-2"></li>
        <li data-i18n-html="portfolio.trofy.learnings-li-3"></li>
        <li data-i18n-html="portfolio.trofy.learnings-li-4"></li>
        <li id="ai" data-i18n-html="portfolio.trofy.learnings-li-5"></li>
      </ol>
      <img class="post-image half center" src="/images/projects/trofy/Trofy_Closing_Portfolio.png">
      <p class="post-text center" data-i18n-html="portfolio.trofy.closing"></p>
      <div class="post-spacing"></div>
      <div class="post-line"></div>
    </div>
  </section>

  <section class="post-references-section">
    <div class="post-references-container">
      <p class="post-text center half text-highlight" data-i18n="about.cta-projects"></p>
      <%= render "shared/projects_list", skip: "trofy" %>
    </div>
  </section>
</main>